{% extends "public/templates/public_template.html" %}

{% block title %}itunes_conv{% endblock title %}

{% block main %}
<div class="container">
    <dir class="row">
        <div class="col">
            <h1>iTunes Converter</h1>
            <hr>
            <form action="/itunes/upload_library" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <!-- <label>Select image</label> -->
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image">
                        <label for="image" class="custom-file-label" >Upload your Library.xml</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </dir>
</div>
{% endblock main %}